/* generics */
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: sans-serif;
}

/* utilities */
.flex {
    display: flex;
}

.align-center {
    align-items: center;
}

/* content */
#webApp {
    height: 100vh;
    display: flex;
}

/* parte sinistra */
#left-waw {
    width: 30%;
}

/* userName */
.userName {
    display: flex;
    height: 8vh;
    background-color: #eaeaea;
    justify-content: space-between;
}

.userName img {
    border-radius: 50%;
    height: 70%;
}


.user>* {
    padding: 0 6px;
}

.icons>* {
    padding: 0 6px;
    filter: invert(0.5);
}

/* alert */
#alert {
    height: 8vh;
    background-color: #8fdafd;
    display: flex;
    align-items: center;
}

#alert div {
    padding: 0 8px;
}


#alert i {
    font-size: 1.2rem;
    padding-left: 5px;
    background-color: white;
    border-radius: 50%;
    padding: 5px;
}


.underline {
    text-decoration: underline;
    font-size: 0.8rem;
    color: gray;
}

/* search */
#search {
    height: 4vh;
    display: flex;
    align-items: center;
}

#search i {
    padding-left: 5px;
    filter: invert(0.5);
}

#search input {
    width: 100%;
    align-items: center;
    margin: 0px 10px;
    padding: 3px 0;
}

/* contatti */
#contacts {
    height: 76vh;
    overflow-y: scroll;
}

#contacts li {
    padding: 10px 0;
    border: 1px solid #e9ebeb;
}

#contacts img {
    width: 10%;
    border-radius: 50%;
}

#last-message {
    font-size: 0.8rem;
    color: gray;
    padding-top: 3px;
}

.active {
    background-color: rgb(196, 192, 192);
}


/* parte destra */
#right-waw {
    flex-grow: 1;
}


/* current-chat */
#current-chat {
    height: 8vh;
    background-color: #eaeaea;
    display: flex;
    justify-content: space-between;
    border-left: 1px solid gray;
}

#current-chat img {
    height: 80%;
    border-radius: 50%;
}

#current-chat div {
    padding: 0 10px;
}

#current-chat i {
    font-size: 1.4rem;
    padding: 0 10px;
    filter: invert(0.5);
}

/* messages */
#messages {
    height: 84vh;
    background-image: url("/Users/cristianvola/Desktop/Boolean/Esercizi_Boolean/15settembre2022/vue-boolzapp/img/mine.jpg");
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}

.message {
    margin: 30px;
    border-radius: 15px;
    background-color: white;
    font-size: 0.9rem;
    padding: 25px;
    width: 300px;
}

.date {
    text-align: right;
    font-size: 0.6rem;
}


.sent {
    background-color: green;
    align-self: flex-end;

}

.received {
    background-color: white;
    align-self: flex-start;
}

/* new-message */
#new-message {
    height: 8vh;
    background-color: #f3eeea;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

#new-message input {
    width: 90%;
    height: 70%;
    border: none;
}

#new-message i {
    font-size: 1.4rem;
}